<div class="row item card-panel hoverable" data-href="{{ url_for('.edit_item', item_id=item.id) }}"
     data-id="{{ item.id }}" data-body="{{ item.body }}" data-done={{ item.done|tojson }}>
    <span class="item-body">
        <a class="button done-btn" data-href="{{ url_for('.toggle_item', item_id=item.id) }}">
            <i class="material-icons left">{% if item.done %}check_box{% else %}check_box_outline_blank{% endif %}</i>
        </a>
        <span class="{% if item.done %}inactive-item{% else %}active-item{% endif %}" id="body{{ item.id }}">
            {{ item.content }}
        </span>
        <span class="label {% if item.priority == 1 %}
                                label-normal
                           {% elif item.priority == 2 %}
                                label-important
                           {% else %}
                                label-emergency
                           {% endif %}
                           round">
            {% if item.priority == 1 %}普通{% endif %}
            {% if item.priority == 2 %}重要{% endif %}
            {% if item.priority == 3 %}紧急{% endif %}
        </span>
        <small class="create-time tooltipped" data-position="bottom"
               data-timestamp="{{ item.create_time.strftime('%Y-%m-%dT%H:%M:%SZ') }}">
{#            {{ moment(item.create_time).format('YYYY MMMM Do, h:mm:ss a') }}#}
            {{ moment(item.create_time).fromNow(refresh=True) }}
        </small>
    </span>
    <span class="hide edit-btns right">
        <a class="right button delete-btn" data-href="{{ url_for('.delete_item', item_id=item.id) }}">
            <i class="material-icons small-icon left">clear</i>
        </a>
        <a class="right button edit-btn">
            <i class="material-icons small-icon left">mode_edit</i>
        </a>
    </span>
</div>


















