<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8"/>
    <title>Todoism</title>
    <link href="{{ url_for('static', filename='css/materialize.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div id="main"></div>
<script type="text/javascript">
    var csrf_token = "{{ csrf_token() }}";
    var login_page_url = "{{ url_for('auth.login') }}";
    var login_url = "{{ url_for('auth.login') }}";
    var register_page_url = "{{ url_for('auth.register') }}";
    var test_account_url = "{{ url_for('auth.get_test_account') }}";
    var logout_url = "{{ url_for('auth.logout') }}";
    {#var default_error_message = "Oops, something was wrong!";#}
    var default_error_message = "完蛋，出毛病了！";
    var empty_body_error_message = "Your todo was empty!";
    var register_error_message = "注册信息错误，请检查！";
    var login_error_message = "Empty username or password!";
    var app_page_url = "{{ url_for('todo.app') }}";
    var intro_page_url = "{{ url_for('home.intro') }}";
</script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
{#    {{ moment.include_jquery() }}#}
    {{ moment.include_moment(local_js=url_for('static', filename='js/moment-with-locales.min.js')) }}
    {{ moment.locale(auto_detect=True) }}
    <script src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}" type="text/javascript"></script>
</body>
</html>